<a href="https://colab.research.google.com/github/nooralotibi/py/blob/main/sortdates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import datetime

import calendar

In [52]:

numbers_set = set()
for number in range(32):
    numbers_set.add(str(number))
months_set = set()

for month in range(1, 13):
    month_name = calendar.month_abbr[month].lower()
    months_set.add(month_name)
years_set = {str(year) for year in range(1900, 2024)}
print(months_set)
print(numbers_set)
years_set = {str(year) for year in range(1900, 2024)}
print(years_set)

{'jun', 'jan', 'oct', 'feb', 'aug', 'may', 'jul', 'dec', 'sep', 'apr', 'mar', 'nov'}
{'26', '21', '17', '8', '3', '24', '10', '20', '5', '6', '12', '4', '30', '0', '22', '9', '25', '2', '7', '14', '23', '13', '28', '18', '31', '1', '19', '29', '16', '15', '11', '27'}
{'1925', '2001', '2004', '1972', '1918', '1948', '2021', '2018', '1951', '1926', '1936', '1943', '1960', '2017', '1947', '1996', '2000', '2012', '1902', '1961', '1930', '1915', '1967', '1941', '1957', '1969', '1934', '1931', '1981', '1963', '1923', '1990', '1989', '1903', '1998', '2008', '2014', '1901', '1984', '1905', '2011', '2015', '1928', '1927', '1983', '1964', '2020', '1939', '1988', '1976', '1908', '1991', '1954', '1962', '1938', '1946', '1974', '1952', '1995', '1953', '1955', '1999', '2013', '2023', '1912', '2009', '2005', '2006', '1966', '1945', '1977', '2003', '2007', '1965', '1937', '2022', '1907', '1982', '2019', '1979', '2010', '1906', '1910', '1949', '1987', '1904', '1992', '1959', '1968', '1917', '1942', '1924', '1958', '1909', '1914', '2016', '1900', '1993', '1913', '1971', '1921', '1932', '1940', '1997', '1919', '1911', '1978', '1916', '1933', '1956', '1994', '1975', '2002', '1944', '1920', '1980', '1985', '1922', '1973', '1986', '1935', '1950', '1970', '1929'}

In [6]:
date = ['22-12-2022','2-2-2021','3-1-2023']
date.sort()
print(date)

['2-2-2021', '22-12-2022', '3-1-2023']

In [16]:
import datetime
import calender
def sort_dates(dates):
    def convert_date(date):
        date_parts = date.split('-')
        day = int(date_parts[0])
        month_name = date_parts[1]
        year = int(date_parts[2])
        month = datetime.datetime.strptime(month_name, "%B").month
        return datetime.datetime(year, month, day)

    sorted_dates = sorted(dates, key=convert_date)
    return sorted_dates

dates = ['15-January-2023', '10-March-2022', '25-December-2021', '05-November-2022']
sorted_dates = sort_dates(dates)
print(sorted_dates)

['25-December-2021', '10-March-2022', '05-November-2022', '15-January-2023']

In [61]:

dates = ['15-Jan-2023', '10-Mar-2022', '25-Dec-2021', '05-Nov-2022']

date_key = lambda date: datetime.datetime.strptime(date, "%d-%b-%Y")
dates.sort(key=date_key)
print(dates)

['25-Dec-2021', '10-Mar-2022', '05-Nov-2022', '15-Jan-2023']